html, body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 300vh;
}

.cloud {
    position: absolute;
    opacity: 0;
}